html,
body {
  padding: 0;
  margin: 0;
}

*,
*::before *::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 80%;
  height: 100%;
  background-color: #f1f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-div {
  background-color: black;
  height: 81vh;
  width: 21rem;
  border-radius: 30px;
}

.white {
  height: 76vh;
  background-color: white;
  margin: 1rem;
  position: relative;
  border-radius: 30px;
  /* display: flex;
  justify-content: center; */
}

.clip-path {
  /* clip-path: polygon(
    100% 0,
    100% 11%,
    100% 43%,
    100% 100%,
    81% 81%,
    68% 69%,
    54% 56%,
    0 10%,
    0 0
  ); */
  clip-path: polygon(
    16% 0,
    100% 0%,
    100% 35%,
    100% 70%,
    100% 65%,
    100% 61%,
    100% 72%,
    100% 79%,
    0 17%,
    0 0
  );
  position: absolute;
  background-color: blue;
  height: 40vh;
  width: 100%;
  top: 0;
  right: 0;
  border-radius: 30px;
}

h2 {
  margin-left: 7rem;
  color: white;
  margin-bottom: -0.5rem;
}

.black-top {
  width: 12vw;
  height: 3vh;
  background-color: black;
  position: absolute;
  top: 0;
  left: calc(50% - 6vw);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.content {
  margin-top: 1rem;
  z-index: 30;
  position: absolute;
}
img {
  width: 15rem;
  height: 9rem;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.bottom-content {
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
  margin-bottom: 1rem;
}

.left-bottom {
  display: flex;

  column-gap: 1rem;
  align-items: center;
}

.item {
  width: 1.5rem;
  height: 1.5rem;
}
.explanation > p {
  margin: 0;
}

.explanation > p:nth-child(1) {
  font-weight: bold;
}

.explanation > P:nth-child(2) {
  color: grey;
  font-size: 0.85rem;
}
.switch {
  height: 1.7rem;
  width: 3rem;
  position: relative;
  visibility: hidden;
  /* visibility: visible; */
  cursor: pointer;
}

.switch::before {
  height: 100%;
  width: 100%;
  content: "";
  background-color: blue;
  position: absolute;
  visibility: visible;
  border-radius: 20px;
}
.switch::after {
  visibility: visible;
  background-color: white;
  border-radius: 50%;
  height: 100%;
  content: "";
  width: 1.7rem;
  position: absolute;
}

.switch:checked::after {
  left: calc(100% - 1.7rem);
}

.switch::after:hover {
  background-color: white;
}
